<main class="min-h-screen bg-gray-100">

  <!-- Hero -->
  <app-hero></app-hero>

  <!-- Novedades -->
  <app-product-section
    antetitulo="Recién llegados"
    titulo="Novedades"
    [productos]="productosNovedades()">
  </app-product-section>

  <!-- Ofertas -->
  <app-product-section
    antetitulo="Precios especiales"
    titulo="Ofertas"
    [productos]="productosOfertas()"
    [variante]="'oscura'">
  </app-product-section>

  <!-- Lo más vendido -->
  <app-product-section
    antetitulo="Los favoritos de nuestros clientes"
    titulo="Lo más vendido"
    [productos]="productosMasVendidos()">
  </app-product-section>

  <!-- Categorías -->
  <app-category-section
    antetitulo="Explorá nuestro catálogo"
    titulo="Categorías"
    [categorias]="categorias()">
  </app-category-section>

</main>
