<!-- Novedades -->
  <section class="mx-auto max-w-7xl px-6 py-12">

    <div class="mb-8 flex items-end justify-between">
      <div>
        <p class="mb-2 text-sm font-bold uppercase tracking-widest text-yellow-600">
          {{ antetitulo }}
        </p>

        <h2 class="text-3xl font-bold text-gray-900">
          {{ titulo }}
        </h2>
      </div>

      <button class="cursor-pointer font-semibold text-gray-600 transition hover:text-gray-900">
        Ver todos →
      </button>
    </div>

    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
      @for (producto of productos; track $index) {
        <app-product-card [categoria]="producto.categoria" [imagenURL]="producto.imagenURL" [titulo]="producto.titulo"
        [precio]="producto.precio" [descuento]="producto.descuento" [posicion]="producto.posicion">
        </app-product-card>
      }
    </div>
  </section>
